* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  /* width: 800px; */
  /* background-color: rgba(82, 119, 211, 0.288); */
  backdrop-filter: blur(1px);
  display: grid;
  justify-content: center;
  margin: auto;
}

.calc-container {
  background-color: rgba(136, 139, 223, 0.357);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: 265px;
  height: 265px;
  border-radius: 2%;
}

.display {
  text-align: center;
  display: grid;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  /* background-color: gray; */
}

#result {
  background-color: white;
  border-radius: 2%;
  margin-right: 2rem;
  margin-left: 2rem;
}

#numbers {
  font-weight: lighter;
}

.btn-container {
  /* width: 800px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  gap: 10%;
  column-gap: 2%;
  padding: 8%;
  /* height: 60%; */
}

button.btn {
  border-radius: 8px;
  font-size: 100%;
  font-weight: bolder;
  color: white;
  background-color: rgba(149, 204, 240, 0.777);
  border: 1px solid rgba(255, 255, 255, 0.582);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 120%;
  padding: 5%;
  cursor: pointer;
}

.themes {
  /* width: 800px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding: 2%;
  padding-top: 5%;
  margin: auto;
  width: 15rem;
}

.color {
  text-align: center;
  width: 120%;
  padding: 2px;
  cursor: pointer;
}

#winter {
  color: white;
  font-weight: bold;
  background-color: rgba(149, 204, 240, 0.777);
  border: 1px solid rgba(255, 255, 255, 0.582);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fall {
  color: rgba(0, 0, 0, 0.721);
  font-weight: bold;
  background-color: rgba(241, 134, 34, 0.777);
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#spring {
  color: rgba(158, 251, 157, 0.904);
  font-weight: bold;
  background-color: rgba(236, 164, 233, 0.777);
  border: 1px solid rgba(158, 251, 157, 0.904);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 400px) {
  .calc-container {
    width: 300px;
    height: 365px;
  }

  .display {
    font-size: 1.5rem;
    padding: 5%;
  }

  .btn-container {
    gap: 10%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 15px;
    height: 32px;
  }

  .themes {
    .themes {
      width: 20rem;
    }
  }
  .color {
    border-radius: 16%;
    font-size: 20px;
    height: 40px;
  }
}

@media only screen and (min-width: 700px) {
  .calc-container {
    width: 520px;
    height: 750px;
  }

  .display {
    font-size: 3rem;
    padding: 8%;
  }

  #numbers {
    padding: 2%;
    letter-spacing: 10px;
    font-size: 3rem;
  }

  #result {
    padding: 3%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .btn-container {
    gap: 8%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 30px;
    height: 70px;
  }

  .themes {
    .themes {
      width: 30rem;
    }
  }

  .color {
    border-radius: 16%;
    font-size: 2rem;
    height: 4rem;
  }

  button#winter.color {
    border: 3px solid;
  }

  button#fall.color {
    border: 3px solid;
  }

  button#spring.color {
    border: 3px solid;
  }
}

@media only screen and (min-width: 1680px) {
  /*1680 by 1050*/
  .calc-container {
    width: 600px;
    height: 700px;
  }

  .display {
    font-size: 2.5rem;
    padding: 8%;
  }

  #numbers {
    padding: 2%;
    letter-spacing: 10px;
    font-size: 3rem;
  }

  #result {
    margin: auto;
    padding: 3%;
    margin-right: 30px;
    margin-left: 30px;
    /* width: 700px; */
  }

  .btn-container {
    column-gap: 6%;
    row-gap: 3%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 30px;
    height: 70px;
    width: 100px;
  }

  .themes {
    .themes {
      padding-top: 3rem;
    }
  }

  .color {
    border-radius: 16%;
    font-size: 2rem;
    height: 3.5rem;
    width: 10rem;
  }

  button#winter.color {
    border: 3px solid;
  }

  button#fall.color {
    border: 3px solid;
  }

  button#spring.color {
    border: 3px solid;
  }
}

.green-box {
  background-color: green;
}
