* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1.5px);
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  width: 100vw;
  height: 100vh;
}

.main-container {
  /* width: 800px; */
  background-color: rgba(82, 119, 211, 0.3);
  display: grid;
  justify-content: center;
  margin: auto;
}

.calc-container {
  background-color: rgba(255, 255, 255, 0.509);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 5%;
  width: 265px;
  height: 265px;
  border-radius: 2%;
}

.display {
  text-align: center;
  display: grid;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}

.calc-container > h4 {
  color: rgba(191, 47, 227, 0.8);
}

#result {
  background-color: rgba(206, 172, 244, 0.38);
  color: white;
  border-radius: 2%;
  margin-right: 2rem;
  margin-left: 2rem;
}

#numbers {
  font-weight: lighter;
}

.btn-container {
  /* width: 800px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  gap: 10%;
  column-gap: 2%;
  padding: 8%;
  /* height: 60%; */
}

button.btn {
  border-radius: 8px;
  font-size: 100%;
  font-weight: bolder;
  color: white;
  background-color: rgba(149, 204, 240, 0.5);
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.391),
    0 6px 20px 0 rgba(255, 255, 255, 0.384);
  border: 1px solid rgba(255, 255, 255, 0.582);
  height: 120%;
  padding: 5%;
  cursor: pointer;
}

.themes {
  /* width: 800px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding: 2%;
  padding-top: 3%;
  margin: auto;
  width: 15rem;
}

.color {
  text-align: center;
  width: 120%;
  padding: 2px;
  cursor: pointer;
}

#winter {
  color: white;
  font-weight: bold;
  background-color: rgba(149, 204, 240, 0.777);
  border: 1px solid rgba(255, 255, 255, 0.582);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fall {
  color: rgba(0, 0, 0, 0.721);
  font-weight: bold;
  background-color: rgba(241, 134, 34, 0.777);
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#spring {
  color: rgba(158, 251, 157, 0.904);
  font-weight: bold;
  background-color: rgba(236, 164, 233, 0.777);
  border: 1px solid rgba(158, 251, 157, 0.904);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* nested theme classes */

.theme-winter {
  .btn {
    background-color: rgba(149, 204, 240, 0.5);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.391),
      0 6px 20px 0 rgba(255, 255, 255, 0.384);
    color: white;
  }
  .calc-container {
    background-color: rgba(255, 255, 255, 0.509);
  }
  .display {
    color: rgba(191, 47, 227, 0.8);
  }
  #result {
    background-color: rgba(206, 172, 244, 0.38);
    color: white;
  }
}

.theme-fall {
  .btn {
    color: white;
    background-color: #5792a398;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.165),
      0 6px 20px 0 rgba(0, 0, 0, 0.195);
    /* #1c1a1c; */
  }

  .calc-container {
    background-color: #bd74657d;
  }

  .display {
    color: rgba(255, 255, 255, 0.874);
  }

  #result {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
}

.theme-spring {
  .btn {
    background-color: rgba(231, 59, 99, 0.7);
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.368),
      0 6px 20px 0 rgba(255, 255, 255, 0.387);
    color: white;
  }
  .calc-container {
    background-color: #e8c9cdcb;
  }
  .display {
    color: rgba(0, 0, 0, 0.8);
  }
  #result {
    background-color: rgba(216, 161, 195, 0.85);
    color: white;
  }
}

/* responsiveness */

@media only screen and (min-width: 400px) {
  .calc-container {
    width: 300px;
    height: 365px;
  }

  .display {
    font-size: 1.5rem;
    padding: 5%;
  }

  .btn-container {
    gap: 10%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 15px;
    height: 32px;
  }

  .themes {
    width: 20rem;
  }

  .color {
    border-radius: 16%;
    font-size: 20px;
    height: 40px;
  }
}

@media only screen and (min-width: 700px) {
  .calc-container {
    width: 520px;
    height: 750px;
  }

  .display {
    font-size: 3rem;
    padding: 8%;
  }

  #numbers {
    padding: 2%;
    letter-spacing: 10px;
    font-size: 3rem;
  }

  #result {
    padding: 3%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .btn-container {
    gap: 8%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 30px;
    height: 70px;
  }

  .themes {
    width: 25rem;
  }

  .color {
    border-radius: 16%;
    font-size: 2rem;
    height: 4rem;
  }

  button#winter.color {
    border: 3px solid;
  }

  button#fall.color {
    border: 3px solid;
  }

  button#spring.color {
    border: 3px solid;
  }
}

@media only screen and (min-width: 1680px) {
  /*1680 by 1050*/
  .calc-container {
    width: 600px;
    height: 700px;
  }

  .display {
    font-size: 2.5rem;
    padding: 8%;
  }

  #numbers {
    padding: 2%;
    letter-spacing: 10px;
    font-size: 3rem;
  }

  #result {
    margin: auto;
    padding: 3%;
    margin-right: 30px;
    margin-left: 30px;
    /* width: 700px; */
  }

  .btn-container {
    column-gap: 6%;
    row-gap: 3%;
  }

  button.btn {
    border-radius: 16%;
    font-size: 30px;
    height: 70px;
    width: 100px;
  }

  .themes {
    width: 30rem;
  }

  .color {
    border-radius: 16%;
    font-size: 2rem;
    height: 3.5rem;
    width: 10rem;
  }

  button#winter.color {
    border: 3px solid;
  }

  button#fall.color {
    border: 3px solid;
  }

  button#spring.color {
    border: 3px solid;
  }
}
